{% extends 'layout.html' %}
{% block content %}

<div id = '{{ post.id }}' class="card card_post" style="width: 50%;">
    <div class="card-body" style="border: solid 2px;">
      <h5 class="card-title">{{ post.author.username }}</h5>
      <img src="{{ url_for('static', filename='post/'+post.image_file)  }}" class="card-img-top" alt="...">
      <p class="card-text">{{ post.caption }}</p>
      <p class="card-text">{{ post.date_posted.strftime('%Y-%m-%d') }}</p>
    </div>
    <form action="{{ url_for('comment', post_id = post.id) }}" method="post">
    <div class="card-body">
        <input type="text" class="argument" name = "caption" value = "{{ post.id }}">
        <h5>Enter comment</h5>
        
        <img src="{{ image_file }}" class="rounded-circle comment-img" alt="...">
        <input type="text" class="form-control commentbox" name = "comment" >
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div></form>
    {% if coment.query.count() != 0 %}
    {% for comment in coment.query.filter_by(commentpost = post).all() %}
      <div class="card-body">
        <img src="{{ url_for('static', filename='pp/'+comment.commenter.image_file)  }}" class="rounded-circle comment-img" alt="...">
        {{ comment.comment }}
      </div>
      {% endfor %}
    {% else %}
      <div class="card-body">
        no comments
      </div>
    {% endif %}
</div><br><hr style="width: 50%; margin-left: 25%;"><br>

{% endblock %}